/* App.css */


.App {
  background: radial-gradient(circle at center, #c0ffc0, green);
  height: 100vh; /* For 100% screen height */
  width: 100vw; /* For 100% screen width */
  overflow-x: hidden;
}
